body, h1, ul , h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    position: relative;
   }
   .bg_image{
    margin-top: 20px;
    width: 40%;
    
   }
h2,p,h3{
    text-align: left;
    margin: auto;
}

   /*Global styles for the entire page */
   body {
        line-height: 2.2;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
   }
   /* Logo styles */
   .logo {  flex: 0.5;  font-size: 40px;  padding: 10px;  margin-left: 10px;  font-family: Satisfy; font-style: italic; font-weight: 100; }
   
   /* Navigation menu styles */
   .nav-bar {
    display: flex;
    width: 100%;
    height: 30%;
    background-color: #fff;
    box-shadow: 3px 3px 10px  rgb(141, 40, 40);
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1;
    padding: 0%;
    
  }
  ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
  }
  .menu li {
    flex: 1;
    list-style-type: none;
    font-size: 1.3em;
    font-family: "Barlow Condensed";
    text-align: center;
  }
  .menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  .menu li a:hover {
    box-shadow: #333;
    color: rgb(160, 25, 25);
    text-decoration:solid;
    

  }
  ul.info{
    text-align: left;
    margin-left: 0; 
    padding-left: 20px; 
}
   /* Main content section styles */
   section {
    padding: 2rem;
   }
   /*home page image style*/
   img{
        width: 300px;
        height: 250px;
       }

   #img1{
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 10px;
   }

   #list ul {
    list-style: none;
    padding: 0%;
    
   }
   #list, #disease-description ul li {
    margin-bottom: 15px;
    padding-left: 0%;
    text-align: left;
    clear: both;
    
   }
  /* page display*/
  .text > h2 , .text1 > h2{
       text-align: center;
       margin-left: auto;
   }
   .image-container, .image-container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; 
}

#image, #image1 {
    width: 100%; 
    max-width: 600px; 
    height: 300px;
}

.text, .text1 {
    text-align: center;
    margin: 0 auto; 
}

/*table styles*/
   table, tr, th, td {
    border: 1px solid black;
    width: 1300px; 
    text-align: center;
    margin: 30px auto 10px;
}

/* blog styles*/
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 80px;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 10px;
}
.card:hover {
  transform: scale(1.1); 
}
.card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%; /* Use the full width of the container */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.card img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    cursor: pointer;
}
.cards .text {
    padding: 20px;
    font-family: Barlow Condensed;
    line-height: 50px; 
}
.cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #24c3b1;
    font-size: 16px;
}
  /*contact us styles*/
.contact{
position:relative;
min-height: 100vh;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #000;
}
.contact .content p{
  font-weight: 300;
  color: #000;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #000;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #000;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~ span{
  color: #000;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #00bcd4;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #000;
    padding: 0.9rem;
    height: 15%;
    margin-bottom: 0%;
  }

@media screen and (max-width: 600px){
  .nav-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar ul li {
    margin: 15px 0;
    width: 100%;
  }

  .nav-bar ul li a {
    text-align: center;
    width: 100%
  }
  .image-container, .image-container1 {
    grid-template-columns: 1fr; 
  }

  #image, #image1 {
    max-width: 100%; 
  }

  .text, .text1 {
    text-align: center; 
    margin: 0 auto; 
  }
  table, tr, th, td {
  display: block; 
  width: 100%;
  margin: 30px auto 10px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for smaller screens */
  }
  .card:hover {
    transform: scale(1.05); /* Slightly reduce the scale on hover for smaller screens */
  }
}